.wrapper {
  font-family: 'Courier New', monospace;
}

.h2-title {
  transform: skew(-3deg, 1deg);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
}

.input{
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  display: flex;
  padding: 15px;
  border: 2px solid black;
  color: #111;
  font-size: 15px;
  box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
  height: 58px;
  transform: skew(-3deg, 1deg);
  letter-spacing: 2px;
  outline: none;
}

.footer {
  position: absolute;
  bottom: 1px;
  text-align: center;
}

.footer-text {
  font-size: 11px;
  letter-spacing: 2px;
}