#wrapper-menu {
  position: absolute;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.menu-button {
  max-width: fit-content;
  vertical-align: middle;
  padding: 10px;
}

.menu-button:hover {
  background-color: red;
  cursor: pointer;
}

.side-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5px;
}

.side-menu-text:hover {
  background-color: red;
  cursor: pointer;
}

.side-menu-item {
  padding: 5px;
  max-width: fit-content;
}

.side-menu-item:hover {
  background-color: red;
  cursor: pointer;  
}